section {
height: 30rem;
width: 50rem;
margin-left: 3% ;
}

label{
    font-family: 'Gentium Book Basic', arial;
    margin-top: 15%;
    margin-left: 10%;
    width: 65rem;
    height: 2rem;
    white-space: normal;
    color: white;
    font-size: 4rem;
}
#titre {
    font-family: 'Gentium Book Basic', arial;
    width: 150rem;
    margin-top: 30%;
    font-size: 6rem;
    margin-left: 10rem;
}

.background-container {
    background-color: rgb(230, 230, 204);
    overflow: hidden;
  } 

#premier_back{
    background-image: url("/assets/images/prem_back.png");
    background-size: cover;
    background-size: 85%;
    height: 100vh;
    width: 205vh;
    margin-left: 1%;
    
    margin-top: 1%;
    background-position: center ;
    border-radius: 2%;
}

#deuxieme_back{
    background-image: url("/assets/images/deuxieme_back2.png");
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 125vh;
    width: 205vh;
    margin-left: 1%;
    margin-top: 1%;
    background-position: center ;
    border-radius: 2%;
    
}
#troisieme_back{
    background-image: url("/assets/images/back1000.png");
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    width: 205vh;
    margin-left: 1%;
    margin-top: 1%;
    background-position: center ;
    border-radius: 2%;
}

#button {
    background-color: #99cf4d;
    
    color: white;
    margin-top: 20%;
    text-align: center;
    text-decoration: none;
    font-size: 7rem;
    margin-left: 20%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 3rem;
  }
  
button:hover{
    opacity: 0.9;
}
span {
    font-family: 'Gentium Book Basic', arial;
  }

#deuxi{
    background-color: red;
    margin-left: 185%;
    margin-top: 0%;
    color: white;
    width: 60%;
    height: 5rem;
    border-radius: 3rem;

}



#principal{
    font-family: 'Gentium Book Basic', arial;
    width: 57%;
    font-size: 3rem;
    color: black;
    margin-top: 5%;
  }

#secondaire{
    
    font-family: 'Gentium Book Basic', arial;
    width: 73%;
    color: black;
    font-size: 3rem;
    margin-top: 3%;
}
#titre_deux{
    margin-top: 1%;
    color: black;
    width: 1300px;
    height: 10px;
    font-size: 120px;
    margin-left: 600px;
   
}
#deuxi:hover{
    transition: opacity 0.2s;
    opacity: 0.7;
}
.button {
    display: inline-block;
    background-color: #4dcf51;
    color: white;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    margin-left: 300px;
    width: 500px;
    height: 200px;
    cursor: pointer;
    border-radius: 30px;
    line-height: 200px; /* centre le texte verticalement */
}



#troisieme_titre{
    margin-top: 1%;
    color: black;
    font-family: 'Gentium Book Basic', arial;
    font-size: 6rem;
    width: 50%;

}

#button_3{
    font-family: 'Gentium Book Basic', arial;
    text-align: center;
    background-color: black;
    position: absolute;
    width: 1000px;
    height: 90px;
    font-size: 50px;
    margin-top: 1050px;
    margin-left: -900px;
    align-items: center;
    border: 3px solid #4dcf51;

    
}