
/* ------------------------ Firts section : Website Introduction -----------------------------*/
main {
  background-color: white;
  position: sticky ;
  min-width: 60%;
}

.introduction_section {
  padding-top: 10%;
  padding-bottom: 5%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url("/assets/home-background/home-background-1.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#introduction_title {
  font-family: 'Mulish';
  margin-bottom: 5%;
  font-size: 500%;
  color: black;
}

span {
  font-family: 'Mulish';
}

#introduction_text {
  font-family: 'Mulish';
  margin-bottom: 4%;
  font-size: 275%;
  color: black;
  width: 60%;
  text-align-last: center;
}

.button_shop_now_container {
  margin-bottom: 10%;
}

.button_shop_now {
  font-family: 'Mulish';
  font-size: 200%;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 10px 20px;
}

.button_shop_now:hover {
  background-color: rgba(73, 132, 73, 0.8);
}

.button_read_more {
  font-family: 'Mulish';
  font-size: 200%;
  background-color: rgb(115, 114, 114);
  color: white;
  transition: background-color 0.5s;
  cursor: pointer;
  padding: 5px 80vh;
}

.button_read_more:hover {
  background-color: black;
}

/* ------------------------ Second section : Invia's story -----------------------------*/



.invia_story_section {
  display: flex;
  opacity: 0; /* Par défaut, la section est invisible */
  animation: fade-in 5s ease-in-out forwards; /* Animation d'apparition */
}

@keyframes fade-in {
  0% {
    opacity: 0; /* Commence avec une opacité de 0 */
    transform: translateY(50px); /* Décalage vers le bas pour l'effet de glissement */
  }
  100% {
    opacity: 1; /* Opacité complète à la fin de l'animation */
    transform: translateY(0); /* Pas de décalage vertical à la fin de l'animation */
  }
}

.invia {
  width: 50%;
  padding: 1% 2% 5% 2%;
  background-color: white;
}

#invia_story_title {
  font-family: 'Mulish';
  margin-top: 2%;
  font-size: 400%;
  color: black;
  text-align: center;
}

#invia_story_text {
  font-family: 'Mulish';
  margin-top: 5%;
  font-size: 200%;
  color: black;
}

.image_section {
  display: flex;
  flex: 1;
  background-image: url("/assets/home-background/home-background-2.jpeg");
  background-size: cover;
  background-position: center;
}


/* ------------------------ Third section : Owner's story -----------------------------*/


.owner_story_section {
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: rgb(197, 206, 208);
  display: flex;
  flex-direction: column;
  align-items: center;
}


#owner_story_title {
  font-family: 'Gentium Book Basic';
  margin-bottom: 2%;
  font-size: 450%;
  color: black;
  text-align: center;
}

#owner_story_text {
  font-family: 'Gentium Book Basic';
  margin-bottom: 5%;
  font-size: 250%;
  color: black;
}

#button_start_customization {
  font-family: 'Mulish';
  font-size: 200%;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  transition: background-color 0.3s;
  cursor: pointer;
  padding: 10px 20px;
}

#button_start_customization:hover {
  background-color: rgba(73, 132, 73, 0.8);
}
