
/* ------------------------ Firts section : Website Introduction -----------------------------*/
main {
  background-color: rgb(230, 218, 191);
  position: sticky ;
  min-width: 60%;
}

#introduction_section {
  padding-top: 10%;
  padding-bottom: 5%;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  background-color: rgb(37, 37, 117);
  border-radius: 2rem;

}

#introduction_title {
  font-family: 'Gentium Book Basic';
  margin-left: 8%;
  font-size: 450%;
  color: white;
}

#introduction_text {
  font-family: 'Gentium Book Basic';
  margin-top: 2%;
  margin-left: 8%;
  font-size: 250%;
  color: white;
}

.button_read_more_container {
  display: flex;
  /* justify-content: left; */
}

#button_read_more {
  background-color: rgb(66, 200, 66);;
  font-size: 250%;
  margin-left: 17%;
  margin-top: 5%;
  border-radius: 3rem;
  padding : 1% 1% ;
  color: white;
  cursor: pointer;
}

.button_shop_now_container {
  display: flex;
  justify-content: right;
}

#button_shop_now {
  background-color: red;
  font-size: 250%;
  margin-left: 35%;
  margin-right: 15%;
  border-radius: 3rem;
  padding : 1% 1% ;
  color : white;
  cursor: pointer;
}

/* ------------------------ Second section : Invia's story -----------------------------*/


#invia_story_section {
  padding-top: 1%;
  padding-bottom: 5%;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  background-color: rgb(208, 202, 202);
  border-radius: 2rem;
}


#invia_story_title {
  font-family: 'Gentium Book Basic';
  margin-top: 2%;
  font-size: 450%;
  color: black;
  text-align: center;
}

#invia_story_text {
  font-family: 'Gentium Book Basic';
  margin-top: 5%;
  margin-left: 3%;
  font-size: 250%;
  color: black;
}



/* ------------------------ Third section : Owner's story -----------------------------*/

#owner_story_section {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 0.5%;
  margin-right: 0.5%;
  background-color: rgb(240, 120, 120);
  border-radius: 2rem;
}


#owner_story_title {
  font-family: 'Gentium Book Basic';
  margin-top: 2%;
  font-size: 450%;
  color: black;
  text-align: center;
}

#owner_story_text {
  font-family: 'Gentium Book Basic';
  margin-top: 5%;
  margin-left: 3%;
  font-size: 250%;
  color: black;
}

.button_start_personalisation_container {
  display: flex;
  justify-content: center;
}

#button_start_personalisation {
  margin-top: 5%;
  background-color: black;
  font-size: 250%;
  border-radius: 3rem;
  padding : 1% 1% ;
  color : white;
  cursor: pointer;
}


/*
  label{
    font-family: 'Gentium Book Basic', arial;
    margin-top: 10%;
    margin-left: 15%;
    width: 65rem;
    height: 2rem;
    white-space: normal;
    color: white;
    font-size: 4rem;
}

#titre {
    font-family: 'Gentium Book Basic', arial;
    width: 150rem;
    margin-top: 5%;
    font-size: 6rem;
    margin-left: 10rem;
}

#premier_back{
    background-image: url("/assets/images/prem_back.png");
    background-size: cover;
    background-size: 85%;
    height: 100vh;
    width: 205vh;
    margin-left: 1%;

    margin-top: 1%;
    background-position: center ;
    border-radius: 2%;
}




/* #button_read {
    background-color: #99cf4d;

    color: white;
    font-size: 7rem;
    margin-top: 10%;
    margin-left: -50%;
    cursor: pointer;
    border-radius: 3rem;

  } */

/*   ------------------------------------------------  */

/*   DEUXIEME BACKGROUND   */


/* #titre_deux{
    margin-top: 1%;
    color: black;
    width: 1300px;
    height: 10px;
    font-size: 120px;
    margin-left: 600px;

} */
/* #deuxieme_back{
    background-image: url("/assets/images/deuxieme_back2.png");

    background-size: cover;
    background-repeat: no-repeat;
    height: 125vh;
    width: 205vh;
    margin-left: 1%;
    margin-top: 1%;
    background-position: center ;
    border-radius: 2%;

}

#premier_para{
    font-family: 'Gentium Book Basic', arial;
    width: 57%;
    font-size: 3rem;
    color: black;
    margin-top: 5%;
  }

  #deuxi_para{

    font-family: 'Gentium Book Basic', arial;
    width: 73%;
    color: black;
    font-size: 3rem;
    margin-top: 3%;
} */


/* --------------------------*/

/* TROISIEME BACKGROUND */

/*
#troisieme_back{
    background-image: url("/assets/images/back1000.png");

    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    width: 205vh;
    margin-left: 1%;
    margin-top: 1%;
    background-position: center ;
    border-radius: 2%;
}

#button_3{
    font-family: 'Gentium Book Basic', arial;
    text-align: center;
    color: azure;
    background-color: black;
    position: absolute;
    width: 30%;
    height: 6%;
    font-size: 2rem;
    margin-top: 47%;
    margin-left: -35%;
    align-items: center;
    border: 3px solid #4dcf51;
}

#troisieme_titre{
    margin-top: 1%;
    color: black;
    font-family: 'Gentium Book Basic', arial;
    font-size: 6rem;
    width: 50%;

} */


/*  ---------------------------  */
/*
span {
    font-family: 'Gentium Book Basic', arial;
  } */






