<app-search></app-search>
<head>
    <link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
    <link href="https://fr.allfont.net/allfont.css?fonts=gentium-book-basic" rel="stylesheet" type="text/css" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


    <style>
        body {
            font-family: 'Aclonica';font-size: 10px;
        }
    </style>
</head>

<div class="background-container">
    
    <body id="premier_back">
        <section>
        <ul>
            <label id="titre">One Bag, <span style="color: rgb(66, 198, 66);">Two Lives</span></label>
            <label> Our functional sports bag made from recycled truck tarpaulins is designed to allow you to easily carry your work and sports gear in one bag.</label>
            <a href="#ma-section"id="button_read">Read more <i class='bx bx-book-open'></i></a>
            <button id="button_shop">Shop now <i class='bx bxs-cart-download'></i></button>
        </ul>
        </section> 

    </body>

    <body id="deuxieme_back">
            <div id="ma-section"></div>
            <label id="titre_deux">The story of in <span style="color: rgb(66, 198, 66);">V</span>iv’s bag </label>
            <label id="premier_para">Are you in search of a versatile bag that can hold everything you need for your work and workout day? Look no further! <br> <br>
 
                Our bags are made from <span style="color: rgb(66, 198, 66);">recycled</span> truck tarps, offering superior durability and toughness. But that's not all - each bag is equipped with multiple pockets with specific features to help you organize your gear, whether it's for work or sport. No more carrying multiple bags to meet your needs, our all-in-one bag is designed to fit your active lifestyle</label>
            <label id="deuxi_para">Plus, by purchasing our  <span style="color: rgb(66, 198, 66);">recycled</span> bags, you are contributing to protecting the environment by reducing truck tarp waste in landfills. So why wait? Try our <span style="color: rgb(66, 198, 66);">recycled</span> bags and discover the convenience, durability, and positive impact you can have by choosing an eco-friendly product.</label>
            

        </body>
    <body id="troisieme_back">
    <label id="troisieme_titre">A bag designed by an athlete</label>
    <button id="button_3">Start personalisation now</button>
    </body>
    
</div>