<!-- Link to the boxicons stylesheet from unpkg.com -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="tooltip-container">
  <header>
    <app-header></app-header>
  </header>
</div>


<main class="home_page_container">

  <div class = "introduction_section">

    <div class = "intro">
      <h3 id = "introduction_title"> One Bag, <span style="color: rgb(73, 132, 73);">Two Lives</span> </h3>
      <p id = "introduction_text"> Our functional sports bag made from recycled truck tarpaulins is designed to allow you to easily carry your work and sports gear in one bag. </p>
    </div>

    <div class="button_shop_now_container">
      <a href="#" routerLink="/customization" class="button_shop_now">Shop now <i class='bx bxs-cart-download'></i></a>
    </div>

  </div>

  <div class="button_read_more_container">
    <a href="#" routerLink="/about" id="button_read_more" class="button_read_more"> Read more </a>
  </div>

</main>
