<header>
  <app-header></app-header>
  <link href="https://fr.allfont.net/allfont.css?fonts=gentium-book-basic" rel="stylesheet" type="text/css" />
  <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
</header>

<div class="salam">
  <label>Choose your bag size !</label>
  <div id="acote">
    <button id="button_40l" (click)="change_model()">40L</button>
    <button id="button_70l" aria-pressed="true" (click)="change_model_2()">70L</button>
  </div>
  <div class="oh">
    <label>Choose your pochette color !</label>
    <div class="button_pochette">
      <button>Rouge</button>
      <button>Blanc</button>
      <button>Bleu</button>
    </div>
  </div>
  <div class="oh_2">
    <label>Choose your pochette color !</label>
    <div class="button_pochette_2">
      <button>Rouge</button>
      <button>Blanc</button>
      <button>Bleu</button>
    </div>
  </div>
  <button>Next</button>
</div>





<div id="overlay">
  
   
</div>

<!-- test -->

<div class="container">
	
</div>
