header {
  background: white;
  padding: 0;
  border-bottom: 0.1em solid rgb(73, 132, 73);;
  position: sticky ;
}

a {
  color: black;
}

.container1 {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a.logo {
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 280%;
  margin-left: 2%;
  padding-right: 5%;
}

span {
  font-family: 'Orbitron';
  font-weight: bold;
  font-size: 100%;
}

nav.central.menu {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

nav.central.menu ul li a {
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 10%;
  transition: text-decoration-color 0.3s ease-in-out;
}

nav.central.menu ul li a:hover {
  text-decoration-color: black;
  cursor: pointer;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 180%;
}

nav ul li a {
  font-family: 'Mulish';
  padding: 1em;
  display: inline-block;
}

nav.features.logos {
  display: flex;
  justify-content: flex-end;
}

nav.features.logos ul {
  display: flex;
}

nav.features.logos ul li a:hover {
  background-color: rgb(235, 235, 235);
}

.features.logos a {
  position: relative;
}

.features.logos a::after {
  content: attr(data-tooltip);
  position: absolute;
  display: none;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 100000;
}

.features.logos a:hover::after {
  display: block;
}


@media only screen and (max-width: 900px) {
  header {
      width : 900px
  }
}

#numbre_in_cart{
  text-align: center;

  color: white;
  font-family: 'Mulish';
  font-size: 10px;
  margin-bottom: 10%;
}



#border_red{

  margin-left: 10%;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  background-color: red;
}
