<head>
<link href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet'>
<style>
body {
    font-family: 'Aclonica';font-size: 22px;
}
</style>
</head>
<body>
    <div class="container">
       
        <a href="#" routerLink="/" class="logo">in<span style="color: green;">V</span>ia</a>
      
        <nav>
            <ul>
                 <li> 
                    <a href="#" routerLink="/cart-page">Panier</a>
                    <a routerLink="/login">Log In</a>
            </li>
        </ul>
        </nav>
    </div>
</body>


