<!-- Link to the boxicons stylesheet from unpkg.com -->
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<!-- Header section of the page -->
<header>

  <!-- Container div to center the content -->
  <div class="container1">

    <!-- Logo for the website -->
    <a href="#" routerLink="/" class="logo"> in<span style="color: rgb(73, 132, 73);">V</span>ia</a>

    <!-- Navigation menu for the main pages -->
    <nav class="central menu">
      <ul>
        <li><a href="# " routerLink="/"> Home </a></li>
        <li><a href="# " routerLink="/customization"> Customization </a></li>
        <li><a href="# " routerLink="/about-page"> About </a></li>
        <li><a href="# " routerLink="/help-page"> Help </a></li>
      </ul>
    </nav>

    <!-- Navigation menu for the secondary features -->
    <nav class="features logos">
      <ul>
        <li><a href="#" routerLink="/statistic"><i class="bx bx-line-chart-down my-icon" ></i></a></li>
        <li><a href="#" routerLink="/stock"><i class='bx bxs-package' ></i></a></li>
        <li><a href="#" routerLink="/cart"><i class="bx bx-cart my-icon" ></i></a></li>
        <li><a href="#" routerLink="/login"><i class="bx bx-user my-icon"></i></a></li>
      </ul>
    </nav>

  </div>
</header>



