
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link rel="stylesheet" href="precision.component.css" />
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />


    </head>

    <body>

    <div class="box">
        <div class="container">
            <div class="top-header">
                <label>Ravi de vous revoir <span style="font-weight: bold; color: violet;">&thinsp;{{ savedValue }} &thinsp;&thinsp;</span> !</label>

                    <a class="button" value="Se connecter" href="#" style="--color:#ff69f7;">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      Home
                    </a>

                    <ul>
                        <li><a href="#"><i class="fa-brands fa-instagram instagram"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-whatsapp whatsapp"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-twitter twitter"></i></a></li>
                    </ul>
        </div>
    </div>
    </div>

    </body>



