ul{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 30rem;
    width: 30rem;
    border : 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: red;
}

li a:hover{
    opacity: 0.75;
    cursor: pointer;
}

ngb-rating {
    color: #FFC107;
    font-size: 20px;
}

.content{
    padding: .5rem 1rem;
    position: relative;
}

.favorite{
    position:absolute;
    top: .5rem;
    right: 1rem;
    font-size: 1.2rem;

}

.favorite.not{
    color: gray;
}
.stars{
    margin-bottom:.3rem;
    margin-left: 1rem;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.origins{
    flex: 9;
    margin-left: 0.5rem;
}

.origins span{
    border-radius: 2rem;
    background-color: whitesmoke;
    display: inline-block;
    font-size: .7rem;
    color: grey;
    margin-right: .3rem;

}

.price{
    color: black;
    margin-top: .7rem;
    font-size: 25px;
    margin-left: 1rem;
}

.name{
    font-size: 23px;
}