section {
height: 300px;
width: 500px;
margin-left: 50px ;
}

label{
    font-family: 'Gentium Book Basic', arial;
    margin-top: 100px;
    margin-left: 100px;
    width: 950px;
    height: 50px;
    white-space: normal;
    color: white;
    font-size: 60px;
}
#titre {
    font-family: 'Gentium Book Basic', arial;
    width: 1300px;
    margin-top: 200px;
    font-size: 110px ;
    margin-left: 100px;
}

.background-container {
    background-color: rgb(230, 230, 204);
    border-radius: 10px;
    overflow: hidden;
  }
#premier_back{
    background-image: url("/assets/images/prem_back.png");
    background-size: cover;
    background-size: 90%;
    height: 100vh;
    width: 205vh;
    margin-left: 25px;
    margin-top: 15px;
    background-position: center ;
    border-radius: 30px;
}

#deuxieme_back{
    background-image: url("/assets/images/deuxieme_back2.png");
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 125vh;
    width: 205vh;
    margin-left: 25px;
    margin-top: 15px;
    background-position: center ;
    border-radius: 50px;
    
}
#troisieme_back{
    background-image: url("/assets/images/back1000.png");
    
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    width: 205vh;
    margin-left: 25px;
    margin-top: 15px;
    background-position: center ;
    border-radius: 50px;
}

button {
    background-color: #4dcf51;
    
    color: white;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    margin-left: 300px;
    width: 500px;
    height: 200px;
    cursor: pointer;
    border-radius: 30px;
  }
button:hover{
    opacity: 0.9;
}
span {
    font-family: 'Gentium Book Basic', arial;
  }

#deuxi{
    background-color: red;
    margin-top: -10px;
    color: white;
    width: 600px;
    height: 100px;
    margin-left: 1350px;
    margin-bottom: 300px;
}

#principal{
    font-family: 'Gentium Book Basic', arial;
    width: 1500px;
    font-size: 42px;
    color: black;
    margin-top: 150px;
  }

#secondaire{
    /* margin-top: 10px; */
    font-family: 'Gentium Book Basic', arial;
    width: 2000px;
    color: black;
    font-size: 42px;
    margin-top: 50px;
}
#titre_deux{
    margin-top: 30px;
    color: black;
    width: 1300px;
    height: 10px;
    font-size: 120px;
    margin-left: 600px;
   
}
#deuxi:hover{
    transition: opacity 0.2s;
    opacity: 0.7;
}
.button {
    display: inline-block;
    background-color: #4dcf51;
    color: white;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    margin-left: 300px;
    width: 500px;
    height: 200px;
    cursor: pointer;
    border-radius: 30px;
    line-height: 200px; /* centre le texte verticalement */
}

a[href^="#"] {
    display: inline-block;
    background-color: #4dcf51;
    color: white;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    font-size: 70px;
    margin-left: 300px;
    width: 500px;
    height: 200px;
    cursor: pointer;
    border-radius: 30px;
    line-height: 200px; /* centre le texte verticalement */
}


#troisieme_titre{
    color: black;
    font-family: 'Gentium Book Basic', arial;
    font-size: 100px;
    width: 1500px;

}

#button_3{
    font-family: 'Gentium Book Basic', arial;
    text-align: center;
    background-color: black;
    position: absolute;
    width: 1000px;
    height: 90px;
    font-size: 50px;
    margin-top: 1050px;
    margin-left: -900px;
    align-items: center;
    border: 3px solid #4dcf51;

    
}