<header>
  <app-header></app-header>
</header>

<main class="confirmation_page">
  <div class="container-sup">
    <div class = "form_confirmation" >
      <h2>Form Confirmation : </h2>
      <p>First Name: a</p>
      <p>Last Name: a</p>
      <p>Address: a</p>
      <p>Zip Code: a</p>
      <p>Town: a</p>
      <p>Country: a</p>
      <p>Mail: a</p>
      <p>Phone number: a</p>

      <div class="back-form">
        <a href="# " routerLink="/form">Back to the form</a>
      </div>
    </div>

    <div class="cart_confirmation">
      <h2>Cart Confirmation : </h2>
      <p> Backpack Red x Red </p>
      <p> Size M</p>
      <p> With logo </p>
      <p> 130$</p>

      <div class="back-cart">
        <a href="# " routerLink="/cart">Back to the cart</a>
      </div>
    </div>
  </div>

  <div class="payment">
    <a href="# " routerLink="/payment">Proceed to payment</a>
  </div>
</main>

  <!-- <div class = "form_confirmation" *ngIf="formData$ | async as formData">
    <h2>Form Confirmation : </h2>
    <p>First Name: {{ formData.first_name }}</p>
    <p>Last Name: {{ formData.last_name }}</p>
    <p>Address: {{ formData.address }}</p>
    <p>Zip Code: {{ formData.zip_code }}</p>
    <p>Town: {{ formData.town }}</p>
    <p>Country: {{ formData.country }}</p>
    <p>Mail: {{ formData.mail }}</p>
    <p>Phone number: {{ formData.phone_number }}</p>
  </div> -->
