<header>
  <app-header></app-header>
</header>

<main class="confirmation_page">

  <div class="container-sup">

    <div class = "form_confirmation" *ngIf="formData$ | async as formData">
      <h2>Form Confirmation : </h2>
      <p>First Name : {{ formData.firstName }}</p>
      <p>Last Name : {{ formData.lastName }}</p>
      <p>Address : {{ formData.address }}</p>
      <p>Zip Code : {{ formData.zipCode }}</p>
      <p>Town : {{ formData.town }}</p>
      <p>Country : {{ formData.country }}</p>
      <p>Mail : {{ formData.email }}</p>
      <p>Phone number : {{ formData.phoneNumber }}</p>

      <div class="back-form">
        <a href="# " routerLink="/form">Back to the form</a>
      </div>
    </div>

    <div class="cart_confirmation">
      <h2>Cart Confirmation : </h2>
      <!-- <p> Backpack Red x Red </p>
      <p> Size M</p>
      <p> With logo </p>
      <p> 130$</p> -->

      <div class="cart_confirmation2" *ngFor="let item of cart_info">
        <p>Model Type: {{ getModelTypeDisplayName(item.modelType) }}</p>
        <p>Bag Color: {{ item.bagColor }} // Pocket Color: {{ item.pocketColor }}</p>
        <p>Logo: {{ getLogoDisplayName(item.logo)  }}</p>
        <hr>
      </div>

      <div class="back-cart">
        <a href="# " routerLink="/cart">Back to the cart</a>
      </div>
    </div>

  </div>

  <div class="payment">
    <a href="# " routerLink="/payment" (click)="onPaymentClick()">Proceed to payment</a>
  </div>

</main>

