.tooltip-container {
  position: relative;
  z-index: 1000;
}

.confirmation_page {
  width: 100%;
  min-height: 90vh;
  background-color:  rgb(243, 243, 243);;
  padding: 6% 1% 1% 1%;
}
/*
.form_confirmation, .cart_confirmation {
  background-color: white;
  width: 40%;
  padding: 3% 3% 3% 3%;
  margin: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
} */

.form_confirmation {
  background-color: white;
  width: 40%;
  padding: 3% 3% 3% 3%;
  margin: 0 1% 5% 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
}



.container-sup {
  display: flex;
  flex-wrap: wrap;
}

p, h2, a {
  font-family: "Mulish";
  text-align: left;
  color: black;
}

h2 {
  padding-bottom: 50px;
}

.payment h2 {
  padding-bottom: 50px;
  font-family: "Mulish";
  text-align: center;
  color: black;
  text-decoration: underline;
}

p {
  font-size: large;
}

.back-form, .back-cart {
  font-size: large;
  border-radius: 0.5em;
  padding: 1% 1% 1% 1%;
  border: 1px black solid;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.payment {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
/* .payment {
  background-color: black;
  width: 30%;
  height: 100px;
  padding: 3% 3% 3% 3%;
  margin: 0 5% 5% 5%;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  border: 2px black solid;
  border-radius: 0.5em;

  margin: auto;
} */
/* .payment{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  border-radius: 0.5em;
  padding: 1% 1% 1% 1%;
  border: 1px black solid;
  background-color: black;
} */


.payment a {
  background-color: black;
  width: 400px;
  height: 100px;
  padding: 3% 3% 3% 3%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  border: 2px black solid;
  border-radius: 0.5em;
  margin: auto;
  margin-bottom: 40px;
}

.payment p {
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Mulish';
  font-size: large;
  color: rgb(28, 133, 32);
}

.back-form:hover {
  background-color: rgb(168, 166, 166);
}

.back-cart:hover {
  background-color: rgb(168, 166, 166);
}

.payment a:hover{
  background-color: rgb(15, 148, 50);

}

@media only screen and (max-width: 900px) {
  .confirmation_page {
    width: 900px;
  }
  .form_confirmation, .payment {
    width: 100%;
  }
}
