
*{
    font-family: 'Aclonica', sans serif;
}


.container{
    
    background: rgb(255, 255, 255);
    padding: 0;
    border-bottom: 1px solid #e72929;
}

a{
    font-size: 20px;
    color: black;
}

a:hover{
background: red;
}

.container{
    margin: 1 auto;
    max-width: 2500px;
    display: flex;
    justify-content:space-between;
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul{
    list-style-type: none ;
    margin: 0;
}

nav ul li a {
    padding: 1em;
    display: inline-block;
}