/*You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Aclonica");
*{
    font-family: "Alconica";
    box-sizing: border-box;
}
html{
    font-size: 0.85rem;
}
body{
    margin: 0;
    font-family: "Alconica";
    font-size: 0.85rem;
}

a{
    text-decoration: none;
}
