/*You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Aclonica");
*{
    font-family: 'poppins' ,sans-serif;
}
*{
    box-sizing: border-box;
}
html{
    font-size: 1rem;
}
body{
    margin: 0;
    font-family: "Alconica", sans-serif;
    font-size: 1rem;
}

a{
    text-decoration: none;
}