<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="tooltip-container">
  <header>
    <app-header></app-header>
  </header>
</div>


<main class= "success_container">
  <div class="text">
    <h1> Payment accepted <span style="color: rgb(50, 179, 50);"><i class='bx bxs-check-circle'></i> </span></h1>
    <h3> Your payment has been accepted ! </h3>
    <h3> You will receive a confirmation e-mail. </h3>
    <a href="# " routerLink="/"> Click <span style="color: rgb(50, 170, 50);">here</span> to go back to the home page. </a>
  </div>
</main>

