<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="tooltip-container">
  <header>
    <app-header></app-header>
  </header>
</div>


<main class="about_page_container">

  <div class = "invia_story_section"  id="invia_story_section">

    <div class="invia">

      <h3 id = "invia_story_title"> The story of in<span style="color: rgb(73, 132, 73);">V</span>ia’s bag </h3>
      <p id = "invia_story_text"> Are you in search of a versatile bag that can hold everything you  need  for your work and workout day? Look no further! <br> <br>
                                  Our bags are made from <span style="color: rgb(73, 132, 73);">recycled</span> truck tarps, offering superior durability and toughness.
                                  But that's not all - each bag is equipped with multiple pockets with specific features to help you organize your gear, whether it's
                                  for work or sport. No more carrying multiple bags to meet your needs, our all-in-one bag is designed to fit your active lifestyle. <br> <br>
                                  Plus, by purchasing our  <span style="color: rgb(73, 132, 73);">recycled</span> bags, you are contributing to protecting the environment by
                                  reducing truck tarp waste in landfills. So why wait? Try our <span style="color: rgb(73, 132, 73);">recycled</span> bags and discover the
                                  convenience, durability, and positive impact you can have by choosing an eco-friendly product.</p>
    </div>

    <div class="image_section"></div>

  </div>

  <div class = "owner_story_section">
    <h3 id = "owner_story_title"> A bag designed by an athlete </h3>
    <p id = "owner_story_text" >  Allow yourself to get acquainted with a former high-level athlete in track and field. His journey in this demanding sport has instilled in him values such as commitment, perseverance, and pushing beyond limits. <br>
                                  As a passionate athlete, he has decided to share his experience and vision through the creation of a unique line of backpacks, crafted from recycled truck tarpaulins. By combining his love for sports with his commitment to the environment, he has brought forth durable and functional backpacks.
                                  The backpack you will discover on this website has been meticulously designed to cater to the needs of a modern athlete. <br>
                                  The design of these backpacks is the result of thoughtful consideration and the athlete's personal experience. It has be taken into account the specific needs of an active sports enthusiast and incorporated practical features such as specialized storage pockets, separate compartments for wet or dirty items, and adjustable strap systems for optimal carrying comfort.
    </p>

    <div class="button_start_customization_container">
      <a href="#" routerLink="/customization" id = "button_start_customization"> Start customization now </a>
    </div>

  </div>

</main>
