<div class="tooltip-container">
  <header>
    <app-header></app-header>
  </header>
</div>



<main class="cart_page">

  <!-- Les titres  -->
  <h1> My shopping cart</h1>
  <h5> You have <span id="number_article"></span> item(s) in your cart.</h5>

  <div class="cart_container">

    <!-- Le panier -->
    <div class="basket">

      <div class="each_article" *ngFor="let article of full_cart_client_modifier">

        <div class="image_article">
          <img [src]="article.image" alt="Article Image" id="image">
        </div>

        <div class="article">
          <h3>Invia Backpack</h3>
          <p>Size: {{ article.modelType }}</p>
          <p>Bag color: {{ article.bagColor }}</p>
          <p>Pocket color: {{ article.pocketColor }}</p>
          <p>Logo: {{ getLogoDisplayName(article.logo) }}</p>
        </div>

        <div class="price">
          <p> {{ article.price }}CHF</p>
        </div>

        <div class="delete">
          <p id="article_quantity"> Quantity : {{article.quantity}}</p>
          <button id="delete_button" (click)="removeBag(article.image)">Delete</button>
        </div>

      </div>

    </div>

      <!-- Summary avec le total du prix  -->
      <div class="checkout">
        <h3>Summary</h3>
        <div id="ticket">
          <p>Subtotal : <span id="subtotal">150</span> CHF</p>
          <p>Shipping : 5 CHF</p>
          <hr>
          <p id="total"> Total(with TVA) : 155 CHF</p>
          <div class="checkout_button">
            <a href="/form" id="vers_formulaire">Checkout</a>
          </div>
        </div>
      </div>

  </div>

</main>
