
body{
    background-color: rgb(240, 240, 240);
}

/* --------------- SUMMARY ----------- */
.checkout{
    position: absolute;
    background-color: white;
    margin-left: 70%;
    height: 250px;
    width: 250px;
    border-radius: 10px;
   
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

#interieur_chekout{
    font-size: 20px;
}

#affichage_subtotal{
    margin-top: 30%;
}

#green_button {
    background-color: greenyellow;
    width: 60%;
    border-radius: 5px;
    margin-left: 20%;
}

#vers_formulaire{
    font-family: 'Mulish';;
    color: black;
    font-size: 20px;
}

#subtotal{
    font-family: 'Mulish';
}

/*    ------ LES TITRES   --------  */

#titre_1{
    font-family: 'Mulish';
    font-size: 30px;
}

#titre_2{
    font-family: 'Mulish';
    font-size: 15px;
}

/*   ----- LE PANIER --------- */


#carte_panier{
    
    background-color: white;
    width: 60%;
    margin-top: 1%;
    border-radius: 10px;
}

.container{
    display: flex; 
}

#image{
    font-family: 'Mulish';
    height: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.article{
    
    flex-direction: column;
    margin: 50px 10px 10px 10px;
    
}

.article img {
    width: 100px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    margin-right: 10px;
    font-family: 'Mulish';
}

div {
    font-family: 'Mulish';
}
p {
    font-family: 'Mulish';
}


#prix{
    margin-left: 10%;
    font-size: 30px;
    margin-top: 13%;
    
}

#button_supprimer{
    height: 20px;
    width: 100px;
    margin-top: 3%;
    background-color: red;
    color: white;
    border: none;
}

#button_supprimer:hover{
    opacity: 50%;
}

