body{
    background-color: rgb(240, 240, 240);
}

#carte_panier{
    
    background-color: white;
    width: 60%;
    margin-top: 1%;
    border-radius: 10px;
}

#image{
    font-family: 'Gentium Book Plus', serif;
    height: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
}

#titre_1{
    font-family: 'Aldrich', serif;
    font-size: 30px;
}

#titre_2{
    font-family: 'Aldrich', serif;
    font-size: 15px;
}

.container{
    display: flex;
   
}

.article{
    
    display: flex;
    flex-direction: column;
    margin: 50px 10px 10px 10px;
    
}

.article img {
    width: 100px; /* Ajustez la taille de l'image selon vos besoins */
    height: auto;
    margin-right: 10px;
    font-family: 'Aldrich', serif;
}

div {
    font-family: 'Aldrich', serif;
}
p {
    font-family: 'Aldrich', serif;
}

.checkout{
    position: absolute;
    background-color: white;
    margin-left: 70%;
    height: 250px;
    width: 250px;
    border-radius: 10px;
   
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}

#inte{
    font-size: 20px;
}

#vers_formulaire{
    font-family: 'Aldrich', serif;
    color: black;
    font-size: 20px;
}

#autour_boutton {
    background-color: greenyellow;
    width: 60%;
    border-radius: 5px;
    margin-left: 20%;
}
#oh{
    
    margin-top: 30%;
}

#prix{
    margin-left: 10%;
    font-size: 30px;
    margin-top: 13%;
    
}

#button_supprimer{
    height: 20px;
    width: 100px;
    margin-top: 3%;
    background-color: red;
    color: white;
    border: none;
}

#button_supprimer:hover{
    opacity: 50%;
}

#subtotal{
    font-family: 'Aldrich', serif;
}