<div class="tooltip-container">
  <header>
    <app-header></app-header>
  </header>
</div>



<main class="cart_page">

  <!-- Les titres  -->
  <h1> My shopping cart</h1>
  <h5 *ngIf="full_cart_client_modifier.length > 0"> You have <span id="number_article">{{ nbr_total_bag_in_cart }}</span> item(s) in your cart.</h5>
  <p id="empty_basket" *ngIf="full_cart_client_modifier.length === 0">Your basket is empty, let's do some shopping.
    <a href="#" routerLink="/customization" *ngIf="full_cart_client_modifier.length === 0" class="button_shop_now"><i class='bx bxs-cart-download'></i></a>
  </p>


  <div class="cart_container" *ngIf="full_cart_client_modifier.length > 0">


    <!-- Le panier -->
    <div class="basket">

      <div class="each_article" *ngFor="let article of full_cart_client_modifier">

        <div class="image_article">
          <img [src]="article.image" alt="Article Image" id="image">
        </div>

        <div class="article">
          <h3>Invia Backpack</h3>
          <p>Size : {{ article.modelType }}</p>
          <p>Bag color : {{ article.bagColor }}</p>
          <p>Pocket color : {{ article.pocketColor }}</p>
          <p>Logo : {{ getLogoDisplayName(article.logo) }}</p>
        </div>

        <div class="price">
          <p> {{ article.price }}.00 CHF</p>
        </div>

        <div class="delete">
          <p id="article_quantity"> Quantity : {{article.quantity}}</p>
          <button id="delete_button" (click)="removeBag(article.image)">Delete</button>
        </div>

      </div>

    </div>

    <!-- Summary avec le total du prix  -->
    <div class="checkout">
      <h2>Summary</h2>
      <div id="ticket">
        <p>Subtotal : <span id="subtotal">{{ price_final }}.00</span> CHF</p>
        <p>Shipping : {{ shipping }}.00 CHF</p>
        <hr>
        <h4 id="total"> Total (with TVA) : {{ price_final + shipping }} CHF</h4>
        <a href="/form" id="vers_formulaire">Checkout</a>
      </div>
    </div>


  </div>

</main>
