<header>
  <app-header></app-header>
  <link href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
</header>


<body>
    <!-- Summary avec le total du prix  -->
  <div class="checkout">
    <div id="interieur_chekout">
      <div>Summary</div>
         <div id="affichage_subtotal">
           <div>Subtotal : <span id="subtotal">150</span> CHF</div>
              <div id="green_button">
                <a href="/form" id="vers_formulaire">Checkout</a>
              </div>
          </div> 
    </div>
  </div>


  <!-- Les titres   -->
  <div id="titre_1">My shopping cart</div>
  <div id="titre_2"> You have <span id="number_article"></span> item(s) in your cart</div>
  

   <!-- Le panier -->
  <div id="carte_panier" *ngFor="let article of full_cart_client_modifier">

    <div class="container">

      <img [src]="article.image" alt="Article Image" id="image">

      <div class="article">

          <div id="backpack_invia">Backpack inVia</div>
          <p>Quantity: {{ article.quantity }}</p>
          <p>Size: {{ article.modelType }}</p>
          <p>Bag color: {{ article.bagColor }}</p>
          <p>Bag color: {{ article.pocketColor }}</p>
          <p>Logo: {{ getLogoDisplayName(article.logo) }}</p>

      </div>

      <p id="prix">Price : {{ article.price }}CHF</p>

      <button id="button_supprimer">Supprimer</button>
    </div>

    

   
  </div>

  
</body>
