main {
  background-color: rgb(243, 243, 243);
  padding: 1%;
}

.statistics_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.solo_statistics_container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.container1{
  padding: 30px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new_users,
.total_profit,
.orders,
.abandonned_baskets {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  font-family: "Aldrich";
  border: 1px white solid;
  background-color:  white ;
}

.popular_colors_graph,
.new_users_graph,
.orders_graph {
  padding-top: 20px;
  width: 50%;
  background-color: white;
  text-align: center;
}

h6, h3, p, h2 {
  font-family: "Aldrich";
}


@media (max-width: 900px) {

  main {
    width: 900px;
  }

  .solo_statistics_container,
  .popular_colors_graph,
  .new_users_graph,
  .orders_graph {
    width: 100%;
  }
}

