<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>


<div class="tooltip-container">
  <header>
    <app-header></app-header>
  </header>
</div>


<main class="stat_page_container">


  <div class="select_button">
    <select id="time_period_select" (change)="onTimePeriodChange($event)">
      <option value="last_week">Last week</option>
      <option value="last_month">Last month</option>
      <option value="last_three_month">Last 3 months</option>
      <option value="last_year">Last year</option>
    </select>
  </div>


  <div class = "statistics_container">

      <div class = "solo_statistics_container">
        <div class = "container1" id="c1">
        <div class = "new_users">
          <h4> New Users </h4>
          <h2> {{sum_users}} </h2>
        </div>
      </div>
      <div class = "container1" id="c2">
        <div class = "total_profit">
          <h4> Total profit </h4>
          <h2> {{sum_profit}} </h2>
        </div>
        </div>
        <div class = "container1" id="c3">
        <div class = "orders">
          <h4> Orders </h4>
          <h2> {{sum_orders}} </h2>
        </div>
        </div>
        <div class = "container1" id="c4">
        <div class = "abandonned_baskets">
          <h4> Abandonned baskets </h4>
          <h2> {{sum_basket}} </h2>
        </div>
        </div>

      </div>

      <div class="popular_colors_graph" nz-col nzSpan="12">
        <h2> Popular Colors </h2>
        <div id="chart1" echarts [options]="histo_chart_colors" theme="macarons" class="demo-chart"></div>
      </div>

      <div class="new_users_graph" nz-col nzSpan="12">
        <h2> New Users </h2>
        <div id="chart3" echarts [options]="line_chart_users" theme="macarons" class="demo-chart"></div>
      </div>

      <div class="orders_graph" nz-col nzSpan="12">
        <h2> Orders </h2>
        <div id="chart4" echarts [options]="line_chart_orders" theme="macarons" class="demo-chart"></div>
      </div>

    </div>

</main>
