main {
  background-color: rgb(243, 243, 243);
  padding: 1%;
}

.statistics_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.solo_statistics_container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.container1{
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.new_users,
.total_profit,
.orders,
.abandonned_baskets {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  font-family: "Aldrich";
  border: 1px white solid;
  background-color:  white ;
}

.popular_colors_graph,
.new_users_graph,
.orders_graph {
  width: 50%;
  background-color: white;
  text-align: center;
}

h6, h3, p, h2 {
  font-family: "Aldrich";
}


@media (max-width: 900px) {

  main {
    width: 900px;
  }

  .solo_statistics_container,
  .popular_colors_graph,
  .new_users_graph,
  .orders_graph {
    width: 100%;
  }
}

/*
.solo_statistics_container {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  box-sizing: border-box;
  border-radius: 1em;
}

.new_users, .total_profit, .orders, .abandonned_baskets {
  font-family: "Aldrich";
  box-sizing: border-box;
  width: 15%;
  height: 5%;
  padding-top: 1%;
  text-align: center;
  background-color: white;
}

.new_users, .new_users_graph {
  border: 1px black solid;
  background-color:  white ;
}

.total_profit {
  border: 1px black solid;
  background-color:  white ;
}

.orders, .orders_graph {
  border: 1px black solid;
  background-color:  white ;
}

.abandonned_baskets {
  border: 1px black solid;
  background-color:  white ;
  margin-right: 10%;
}

h6, p, h2, h4  {
  font-family: "Aldrich";
}


.statistics_container {
  margin-top: 2.5%;
  padding: 1%;
  border-radius: 2em;
  box-sizing: border-box;
  border-radius: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.new_users_graph, .orders_graph, .popular_colors_graph{
  font-family: "Aldrich";
  box-sizing: border-box;
  width: 48%;
  height: 10%;
  padding-top: 1%;
  margin-top: 2% ;
  text-align: center;
} */

/* .popular_colors_graph {
  border: 1px black solid;
  background-color:  rgb(76, 87, 123) ;
} */
