<header>
  <app-header></app-header>
  <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
</header>


<main class="stock_page_container">


 <!-- Indication à gauche du tableau -->

  <section id= "indication_tableau" >
    <label id="titre_indication">Resume</label>
    <div id="lowmessage"></div>
    <div id="outmessage"></div>
  
    
  </section>

 <!-- Tableau -->
  <section id = "tableau" >

    
      <table class="table table-trapped"> 
        <thead>
           <tr>
              <th> Model</th>
              <th> Color Pocket</th>
              <th> Color Bag </th>
              <th> Quantity</th>
           </tr>
        </thead>


        <tbody>
           <tr *ngFor="let data22 of tab_real">
               <td> {{data22.modelType}}</td>
               <td> {{data22.color_bag_name}}</td>
               <td> {{data22.color_pocket_name}}</td>
               <td> {{data22.quantity}}</td>
           </tr>
        </tbody> 

      </table>
    
  </section>

  <!-- Add / Remove bags -->
  <section id = "formulaire">


    <div id="adding_stock">


      <select [(ngModel)]="model_bag">
        <option *ngFor="let option of modeltype" [value]="option">{{ option }}</option>
      </select>


      <select [(ngModel)]="selectedColor_bag ">
         <option *ngFor="let option of color" [value]="option">{{ option }}</option>
      </select>

      <select [(ngModel)]="selectedColor_pocket">
         <option *ngFor="let option of color" [value]="option">{{ option }}</option>
      </select>

      <input type="number" (input)="onInputChange($event)">
    
      <button id="add_button" (click)="onSubmit_add() ">Add</button>

    </div>

    <div id="remove_stock">

      
      
      <label></label>
      <select id="model_bag_2" [(ngModel)]="model_bag_2">
          <option *ngFor="let option of modeltype" [value]="option">{{ option }}</option>
       </select>
      


      <label></label>
      <select [(ngModel)]="selectedColor_bag_2">
        <option *ngFor="let option of color" [value]="option">{{ option }}</option>
      </select>

      <label></label>
      <select [(ngModel)]="selectedColor_pocket_2">
        <option *ngFor="let option of color" [value]="option">{{ option }}</option>
      </select>
      
      <label></label>
      <input type="number" (input)="onInputChange($event)">
  
      
      
      <button id="remove_button" (click)="onSubmit_remove() ">Remove</button>
      
    </div>  
  
   



  </section>

  
</main>



 




